{% extends "incomeapp/main.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


{% block content %}

<div class="container home-container">
    <div class="upper-main">
        <h1 class="upper-home-header">A simple, interactive way to manage your monthly incomes and expenses.</h1>
        <p class="upper-home-info">
            Contain and track all of your in and outgoings in one application.
        </p>
        <div class="upper-home-figures">
            <h2 class="upper-home-total">+£830</h2>
            <div class="upper-home-nums">
                <h2 class="upper-home-green">+£2450</h2>
                <h2 class="upper-home-red">-£1620</h2>
            </div>
        </div>
    </div>
    <hr class="main-hr">
    <div class="lower-main">
        <h1 class="lower-home-header">Why use THIS application?</h1>
        <ul class="lower-home-list">
            <li class="lower-home-info"><span class="material-symbols-outlined home-icons">update</span>Dynamically updating figures in a clear format</li>
            <li class="lower-home-info"><span class="material-symbols-outlined home-icons">encrypted</span>Personal user account, with easy and secure authentication</li>
            <li class="lower-home-info"><span class="material-symbols-outlined home-icons">visibility_off</span>A way to show and hide your information quickly</li>
        </ul>
    </div>
    <footer class="home-footer">
        <a class="footer-link" href="https://github.com/Riley-26" target="blank">GitHub</a>
        <a class="footer-link footer-title" href="#">Income<span style="color:#5ba4b1;">Manager</a>
        <a class="footer-link" href="https://www.linkedin.com/in/riley-r-4389b8244/" target="blank">LinkedIn</a>
    </footer>
</div>

{% endblock content %}