{% extends "incomeapp/main.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}
<div class="container login-container">
    <form class="login-form" action="" method=POST>
        {% csrf_token %}
        <h1 class="login-header">Log-in/Create User</h1>
        <label class="login-label username-label">Username</label>
        <input type="text" class="login-input username-input" name="username-input">
        <label class="login-label password-label">Password</label>
        <input type="password" class="login-input password-input" name="password-input">
        <div class="login-buttons">
            <input type="submit" class="login-button" name="login-button" value="Log-in">
            <input type="submit" class="login-button" name="newuser-button" value="Create New User">
        </div>
    </form>
</div>

{% endblock content %}