{% extends "incomeapp/main.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}
<div class="container">
    <div id="main">
        <div class="modal"><span class="view-button" onclick="blurModal('show')">View</span></div>
        <div class="main-left">
            <h2 class="main-left-header">Incomes</h1>
            <button class="main-left-incomes-btn" onclick="incomeBtn('0')">ADD INCOME</button>
            <form class="income-form">
                <label>Amount: </label>
                <input type="text" class="income-amount" name="income-amount">
                <br>
                <label>Name: </label>
                <input type="text" class="income-name" name="income-name">
                <input type="button" value="Submit" onclick="addNewIncome()">
            </form>
            <div class="main-left-lists">
                <ul class="main-left-list-nums">
                    {% for income in incomes %}
                        <li class="main-left-list-element-num" style="color:green;">+ £{{income.amount}}</li>
                    {% endfor %}
                </ul>
                <ul class="main-left-list-titles">
                    {% for income in incomes %}
                        <li class="main-left-list-element-title">{{income.name}}</li>
                    {% endfor %}
                </ul>
                <ul class="main-left-list-deletes">
                    {% for income in incomes %}
                        <li class="main-left-list-delete"><img src={% static "images/delete_FILL0_wght400_GRAD0_opsz24.png"%} onclick="deleteIncome({{ forloop.counter0 }})"></img></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main-mid">
            <div class="main-totals">
                <h1 class="main-totals-header">Welcome, {{user.name}}</h1>
                <h2 class="main-totals-subheader">Totals:</h2>
                <div class="main-totals-info-wrapper">
                    <span class="main-totals-usertotal" style="color:green;">{{final_total}}</span>
                    <div class="main-totals-right-info">
                        <p class="main-totals-info">
                            On good footing!
                        </p>
                        <h3 class="hide-button" onclick="blurModal('hide')">HIDE PAGE</h3>
                    </div>
                </div>
            </div>
            <div class="main-extra-totals">
                <div class="main-extra-incomes">
                    <h2 class="main-extra-income-header">Total Incomes:</h2>
                    <span class="main-extra-income-total" style="color:green;">+£{{total_incomes}}</span>
                </div>
                <div class="main-extra-expenses">
                    <h2 class="main-extra-expense-header">Total Expenses:</h2>
                    <span class="main-extra-expense-total" style="color:red;">-£{{total_expenses}}</span>
                </div>
            </div>
        </div>
        <div class="main-right">
            <h2 class="main-right-header">Expenses</h1>
            <button class="main-right-expenses-btn" onclick="expenseBtn('0')">ADD EXPENSE</button>
            <form class="expense-form">
                <label>Amount: </label>
                <input type="text" class="expense-amount" name="expense-amount">
                <br>
                <label>Name: </label>
                <input type="text" class="expense-name" name="expense-name">
                <input type="button" value="Submit" onclick="addNewExpense()">
            </form>
            <div class="main-right-lists">
                <ul class="main-right-list-nums">
                    {% for expense in expenses %}
                        <li class="main-right-list-element-num" style="color:red;">- £{{expense.amount}}</li>
                    {% endfor %}
                </ul>
                <ul class="main-right-list-titles">
                    {% for expense in expenses %}
                        <li class="main-right-list-element-title">{{expense.name}}</li>
                    {% endfor %}
                </ul>
                <ul class="main-right-list-deletes">
                    {% for expense in expenses %}
                        <li class="main-right-list-delete"><img src={% static "images/delete_FILL0_wght400_GRAD0_opsz24.png"%} onclick="deleteExpense({{ forloop.counter0 }})"></img></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}