:root{
    --main-color: #5ba4b1;
    --secondary-color: rgb(62, 62, 62);
    --light-font-color: rgb(222, 222, 222);
}

body{
    background: rgb(62, 62, 62);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

nav{
    background-color: rgb(43, 43, 43);
    height: 7vh;
    z-index: 101;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--light-font-color);
    font-size: 18px;
    font-weight: 400;
}

a:hover{
    text-decoration: underline;
}

hr{
    border-bottom: 1px solid rgb(255, 255, 255);
    opacity: 80%;
    width: 100%;
    margin: 0;
    box-shadow: 0 25px 40px 20px rgba(0, 0, 0, 0.4);
}

ul{
    padding: 0;
}

li{
    font-size: 18px;
}

.alert{
    margin: 24px auto;
    max-width: fit-content;
}

.navbar{
    padding-left: 72px;
    padding-right: 72px;
    position: sticky;
    top: 0;
}

.nav-hr{
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
    padding: 0;
}

.nav-list-element{
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-list-element-mid{
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.nav-list-logo{
    font-size: 32px;
    font-weight: 600;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-list-logo:hover{
    text-decoration: none;
}

.nav-list-btn a{
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: 800;
    border-radius: 2px;
    padding: 6px 24px;
}

.nav-list-btn a:hover{
    text-decoration: none;
    filter: brightness(0.8);
    transition: all ease-in-out 0.1s;
}

.nav-list-logo-media{
    display: none;
}

.nav-list-burger{
    color: white;
    display: none;
    cursor: pointer;
}

.drop-down .nav-list-burger{
    visibility: hidden;
}

.drop-down-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.865);
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    padding: 24px;
    border-radius: 5%;

    z-index: 101;
}

.drop-down .drop-down-list{
    visibility: visible;
    opacity: 1;
}

.drop-down-element-link{
    padding: 12px 0;
    margin: 0 12px;
}

.drop-down-close{
    color: white;
    float: right;
    cursor: pointer;
}

/* userpage */

.container{
    height: 92.8vh;
    padding: 72px 0;
}

.main{
    border-radius: 8px;
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(66, 119, 129) 0px, rgb(62, 62, 62) 50%) repeat scroll 0% 0%;
    background-position: 10% 0%;
    box-shadow: 0 0 50px 0 black;
}

#main{
    border-radius: 8px;
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(66, 119, 129) 0px, rgb(62, 62, 62) 50%) repeat scroll 0% 0%;
    background-position: 10% 0%;
    box-shadow: 0 0 50px 0 black;
}

.main-media{
    height: 100%;
    width: 100%;
}

.hide-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 56px;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
    width: 108px;
    height: 108px;
    box-shadow: 0px 0px 20px 0px black;
    user-select: none;
    transition: all 0.2s ease-in-out;
    z-index: 50;
}

.hide-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 0px black;
    transform: scale(1.05);
}

.hide-icon{
    user-select: none;
    font-size: 80px;
    color: var(--main-color);
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    display: block;
    opacity: 1;
    border-radius: 8px;
    transition: all 0.2s ease;
    z-index: 4;
}

.anon-modal{
    position: absolute;
    width: 100%;
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-font-color);
    font-size: 48px;
}

.view-button{
    left: 45%;
    top: 40%;
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    position: relative;
    transition: all 0.2s ease;
    filter: brightness(0.5);
}

.view-button::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease;
}

.view-button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.view-button:hover::after{
    width: 100%;
    opacity: 1;
    filter: brightness(0.9);
}

.main-left{
    width: 20%;
    padding: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);

}

.main-mid-media{
    display: none;
    width: 100%;
}

.main-mid{
    width: 60%;
}

.main-right{
    width: 20%;
    padding: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);

}

.main-totals{
    height: 65%;
    padding: 36px;
}

.main-extra-totals{
    display: flex;
    height: 35%;
    margin-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
}

.main-extra-incomes{
    width: 50%;
    padding-left: 24px;
    padding-top: 24px;
    border-right: 1px solid rgb(255, 255, 255, 0.4);
}

.main-extra-expense-total{
    font-size: 32px
}

.main-extra-income-total{
    font-size: 32px
}

.main-extra-expenses{
    width: 50%;
    padding-left: 24px;
    padding-top: 24px;
}

.main-totals-header{
    font-size: 52px;
    height: 20%;
}

.main-totals-subheader{
    height: 10%;
}

.main-totals-info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.main-totals-usertotal{
    max-width: 100%;
    font-size: 84px;
    height: 50%;
}

.main-totals-info{
    font-size: 16px;
    height: 80%;
}

.main-totals-right-info{
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    height: 100%;
    width: 60%;
}

/* Main Left */

.main-left-list-element{
    padding: 8px 24px;
}


.main-left-header{
    margin-bottom: 18px;
    padding: 24px 24px 0 24px;
}

.main-left-incomes-btn{
    margin-bottom: 12px;
    color: var(--light-font-color);
    background-color: rgb(43, 43, 43);
    border: 0 solid rgb(43, 43, 43);
    padding: 8px;
    box-shadow: none;
    margin: 0 24px 12px 24px;
}

.main-left-lists{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
}

.main-left-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-left-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0;
}

.main-left-list-delete{
    margin-left: 12px;
    transition: all ease-in-out 0.1s;
}

.income-form{
    position: absolute;
    top: 30%;
    right: 40%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 32px;
    opacity: 0;
    transition: all 0.1s ease;
    z-index: 104;
}


/* Main Right */

.main-right-list-element{
    padding: 8px 24px;
}

.main-right-header{
    margin-bottom: 18px;
    padding: 24px 24px 0 24px;
}

.main-right-expenses-btn{
    margin-bottom: 12px;
    color: var(--light-font-color);
    background-color: rgb(43, 43, 43);
    border: 0 solid rgb(43, 43, 43);
    padding: 8px;
    box-shadow: none;
    margin: 0 24px 12px 24px;
}

.main-right-lists{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
}

.main-right-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-right-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0;
}

.main-right-list-delete{
    margin-left: 12px;
    transition: all ease-in-out 0.1s;
}

.expense-form{
    position: absolute;
    top: 30%;
    right: 40%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 32px;
    opacity: 0;
    transition: all 0.1s ease;
    z-index: 104;
}

.form-modal{
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.457);
    z-index: 103;
    transition: all 0.1s ease;
}

.close-btn{
    color: red;
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
}

.bin-icon{
    font-size: 22px;
    padding: 0;
    font-weight: 600;
    color: #540000;
    transition: all 0.05s ease-in-out;
    user-select: none;
}

.bin-icon:hover{
    cursor: pointer;
    color: red;
}

/* Home */

.home-container{
    max-width: 100%;
    padding: 0;
}

.upper-home-header{
    font-size: 52px;
    font-weight: 400;
    padding: 0 128px;
    color: var(--light-font-color);
}

.upper-home-info{
    padding: 24px;
    font-size: 30px;
    color: rgb(13, 13, 13);
    font-weight: 500;
    text-align: center;
}

.upper-main{
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, #427781 0px, rgb(62, 62, 62) 50%) repeat scroll 0% 0%;
    height: 65vh;
    padding: 72px 128px;
    margin: 0 auto;
    max-width: fit-content;
    height: 75vh;
    padding: 72px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.upper-home-nums{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 50%;
}

.upper-home-figures{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-home-total{
    font-size: 80px;
    margin: 0 auto;
    max-width: 50%;
    color: green;
    font-weight: 400;
}

.upper-home-green{
    padding: 24px;
    color: green;
    font-size: 44px;
    font-weight: 400;
}

.upper-home-red{
    padding: 24px;
    color: red;
    font-size: 44px;
    font-weight: 400;
}

.lower-main{
    margin: 0 auto;
    max-width: fit-content;
    height: 75vh;
    padding: 72px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lower-home-header{
    color: var(--light-font-color);
    font-size: 44px;
    font-weight: 400;
}

.lower-home-list{
    margin: 24px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lower-home-info{
    font-size: 26px;
    color: rgb(13, 13, 13);
    font-weight: 500;
    margin: 24px 0;
    height: 100%;
}

.home-icons{
    font-size: 36px;
    font-weight: 600;
    padding: 16px 24px;
    color: var(--main-color);
    user-select: none;
}

.main-hr{
    box-shadow: 0 25px 40px 20px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/*footer*/

.home-footer{
    height: 22vh;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link{
    font-size: 24px;
    font-weight: 500;
    color: rgb(120, 120, 120);
    transition: all 0.05s ease-in-out;

}

.footer-title{
    color: var(--light-font-color);
    font-size: 32px;
    font-weight: 600;
}

.footer-link:hover{
    color: var(--light-font-color);
    cursor: pointer;
    text-decoration: none;
}

.footer-links-media{
    display: none;
}

.footer-title-media{
    display: none;
}

/*login form*/

.login-container{
    display: flex;
    justify-content: center;
    height: 93vh;
    width: 100%;
}

.login-header{
    text-align: center;
    font-size: 48px;
    margin-bottom: 48px;
    color: var(--light-font-color);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(66, 119, 129) 0px, rgb(43, 43, 43) 50%) repeat scroll 0% 0%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.536);
    border-radius: 32px;
    padding: 32px 128px;
    height: 80%;
    max-width: 50vw;
    width: 100%;
    margin: auto;
}

.login-label{
    color: var(--light-font-color);
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
}

.login-input{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
}

.login-buttons{
    display: flex;
    justify-content: center;
}

.login-button{
    padding: 0 12px;
    margin: 0 12px;
    font-size: 20px;
    font-weight: 500;
}

/*Media*/

@media (max-width: 1400px){

    .main-right{
        padding: 0;
    }

    .main-left{
        padding: 0;
    }
}



@media (max-width: 1245px){
    /*Nav*/



    /*Home*/


    .upper-home-header{
        font-size: 44px;
        padding: 0 72px;
    }

    .upper-home-info{
        font-size: 24px;
    }


    .upper-home-green{
        font-size: 34px;
        padding: 18px 8px;
    }

    .upper-home-red{
        font-size: 38px;
        padding: 18px 8px;
    }

    .upper-home-total{
        font-size: 68px;
    }

    /*Userpage*/

    .main{
        background: none;
        border-radius: 0px;
        box-shadow: none;
    }

    #main{
        
        display: flex;
        flex-direction: column;
    }

    .main-left{
        border-right: 1px solid rgba(255, 255, 255, 0.4);
    }

    .main-right{
        border-left: none;
    }

    .main-mid{
        display: none;
    }

    .main-media{
        width: 100%;
    }

    .main-right{
        width: 50%;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    
    .main-left{
        width: 50%;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    .main-right-lists{
        width: 70%;
    }

    .main-left-lists{
        width: 70%;
    }

    .main-totals-header{
        height: 30%;
    }

    .main-mid-media{
        max-width: 100%;
        text-align: center;
        margin: 12px auto;
        display: flex;
        justify-content: center;
    }

    .main-totals{
        height: 100%;
    }

    .main-extra-totals{
        display: none;
    }

    .expense-form{
        top: -30%;
        right: 35%;
    }

    .income-form{
        top: -30%;
        right: 35%;
    }

    /*Login*/

    .login-form{
        max-width: 70vw;
    }

}

@media (max-width: 1000px){
    .main-totals-header{
        font-size: 46px;
    }

    .expense-form{
        right: 30%;
    }

    .income-form{
        right: 30%;
    }
}

@media (max-width: 930px){
    /*Nav*/



    /*Home*/

    .upper-main{
        padding: 72px 64px;
    }

    .view-button{
        left: 42%;
    }

    .anon-modal{
        font-size: 36px;
    }


    /*Login*/

    .login-form{
        padding: 32px 72px;
    }

}


@media (max-width: 875px){
    /*Nav*/

    .nav-list-element{
        display: none;
    }

    .nav-list-burger{
        display: block;
    }

    /*Home*/



    .lower-home-header{
        font-size: 36px;
    }

    .lower-home-info{
        font-size: 22px;
    }

    .home-icons{
        padding: 4px 12px;
        font-size: 28px;
    }
}

@media (max-width: 768px){

    .expense-form{
        right: 25%;
        top: 2%;
    }

    .income-form{
        right: 25%;
        top: 2%;
    }

    .main-mid{
        width: 100%;
    }

    .main-totals{
        padding: 0;
    }

    .main-totals-header{
        font-size: 42px;

    }
    .main-totals-subheader{
        font-size: 24px;
    }

    .main-totals-usertotal{
        font-size: 60px;
    }

    .main-totals-info-wrapper{
        height: unset;
    }

    .main-mid-media{
        height: 30%;
    }

    .main-right-lists{
        width: 100%;
    }

    .main-left-lists{
        width: 100%;
    }

    .hide-button{
        height: fit-content;
        width: fit-content;
        padding: 12px;
    }

    .hide-icon{
        font-size: 56px;
    }

}

@media (max-width: 755px){
    /*Nav*/



    /*Home*/

    .anon-modal{
        font-size: 28px
    }

    .view-button{
        left: 40%;
    }

    .upper-main{
        padding: 72px 32px;
    }

    .upper-home-header{
        font-size: 36px;
        text-align: center;
    }

    .upper-home-info{
        font-size: 20px;
    }

    .upper-home-total{
        font-size: 54px;
    }

    .upper-home-green{
        font-size: 28px;
    }

    .upper-home-red{
        font-size: 28px;
    }

    .lower-main{
        padding: 72px 42px;
    }

    .lower-home-header{
        text-align: center;
    }

    /*Footer*/

    .footer-links-media{
        display: flex;
        flex-direction: column;
    }

    .footer-link{
        display: none;
    }

    .footer-title{
        display: flex;
    }

    .footer-link-media{
        display: flex;
    }

    .footer-title{
        display: none;
    }

    .footer-title-media{
        display: flex;
    }

    /*Login*/

    .login-header{
        font-size: 36px;
    }

    .login-buttons{
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .login-button{
        font-size: 16px;
    }

}

@media (max-width: 575px){
    .main-right-header{
        font-size: 22px;
    }

    .main-left-header{
        font-size: 22px;
    }

    .main-right-expenses-btn{
        font-size: 12px;
    }

    .main-left-incomes-btn{
        font-size: 12px;
    }

    .main-right-list-element-num{
        font-size: 16px;
    }

    .main-right-list-element-title{
        font-size: 16px;
    }

    .main-left-list-element-num{
        font-size: 16px;
    }

    .main-left-list-element-title{
        font-size: 16px;
    }

    .bin-icon{
        font-size: 18px;
    }
}

@media (max-width: 490px){
    /*Nav*/

    .nav-list-logo{
        display: none;
    }

    .nav-list-logo-media{
        display: flex;
    }

    /*Home*/

    .income-form{
        right: 20%;
    }

    .expense-form{
        right: 20%;
    }

    .anon-modal{
        padding: 0 32px;
    }

    .view-button{
        left: 35%;
    }

    .upper-home-header{
        font-size: 32px;
        padding: 0 32px;
    }

    .upper-home-total{
        font-size: 48px;
    }

    .upper-home-green{
        font-size: 24px;
    }

    .upper-home-red{
        font-size: 24px;
    }

    .lower-home-info{
        font-size: 18px;
    }

    .lower-home-list{
        margin: 24px 24px;
    }

    .main-right-list-element-num{
        font-size: 12px;
    }

    .main-right-list-element-title{
        font-size: 12px;
    }

    .main-left-list-element-num{
        font-size: 12px;
    }

    .main-left-list-element-title{
        font-size: 12px;
    }

    .bin-icon{
        font-size: 14px;
    }

    .main-totals-usertotal{
        font-size: 52px;
    }

    .main-totals-subheader{
        padding-bottom: 12px;
        font-size: 20px;
    }
    
    .main-totals-header{
        padding-bottom: 12px;
        font-size: 32px;
    }

    .main-right-header{
        font-size: 18px;
    }

    .main-left-header{
        font-size: 18px;
    }

    .main-right-expenses-btn{
        font-size: 10px;
    }

    .main-left-incomes-btn{
        font-size: 10px;
    }

    /*Login*/

    .login-form{
        padding: 24px 32px;
        margin: auto 12px;
    }

    .login-header{
        font-size: 26px;
    }    

}

@media (max-width: 430px){
    .income-form{
        right: 16%;
    }

    .expense-form{
        right: 16%;
    }
}

/* 375px */