:root{
    --main-color: #5ba4b1;
    --secondary-color: rgb(62, 62, 62);
    --light-font-color: rgb(222, 222, 222);
}

body{
    background: rgb(62, 62, 62);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

nav{
    background-color: rgb(43, 43, 43);
    height: 7vh;
    z-index: 1;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--light-font-color);
    font-size: 18px;
    font-weight: 400;
}

a:hover{
    text-decoration: underline;
}

hr{
    border-bottom: 1px solid rgb(255, 255, 255);
    opacity: 80%;
    width: 100%;
    margin: 0;
    box-shadow: 0 25px 40px 20px rgba(0, 0, 0, 0.4);
}

ul{
    padding: 0;
}

li{
    font-size: 18px;
}

.navbar{
    padding-left: 72px;
    padding-right: 72px;
    position: sticky;
    top: 0;
}

.nav-hr{
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
    padding: 0;
}

.nav-list-element{
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-list-element-mid{
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.nav-list-logo{
    font-size: 32px;
    font-weight: 600;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-list-logo:hover{
    text-decoration: none;
}

.nav-list-btn a{
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: 800;
    border-radius: 2px;
    padding: 6px 24px;
}

.nav-list-btn a:hover{
    text-decoration: none;
    filter: brightness(0.8);
    transition: all ease-in-out 0.1s;
}

/* userpage */

.container{
    height: 92.8vh;
    padding: 72px 0;
}

#main{
    border-radius: 8px;
    padding: 24px;
    display: flex;
    height: 100%;
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(66, 119, 129) 0px, rgb(62, 62, 62) 50%) repeat scroll 0% 0%;
    background-position: 10% 0%;
    color: white;
    box-shadow: 0px 0px 50px 0px black;
    position: relative;
}

.hide-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 56px;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
    width: 108px;
    height: 108px;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 0.2s ease-in-out;
}

.hide-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 0px black;
    transform: scale(1.05);
}

.hide-icon{
    font-size: 80px;
    color: var(--main-color);
}

.modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    display: block;
    opacity: 1;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.view-button{
    left: 45%;
    top: 40%;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    position: relative;
    transition: all 0.2s ease;
}

.view-button::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease;
}

.view-button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.view-button:hover::after{
    width: 100%;
    opacity: 1;
    filter: brightness(0.9);
}

.main-left{
    width: 20%;
}

.main-mid{
    width: 60%;
    padding: 0 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.4);
}

.main-right{
    width: 20%;
}

.main-totals{
    height: 65%;
    padding-bottom: 36px;
}

.main-extra-totals{
    display: flex;
    height: 35%;
    padding-top: 18px;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
}

.main-extra-incomes{
    width: 50%;
    padding-right: 24px;
    border-right: 1px solid rgb(255, 255, 255, 0.4);
}

.main-extra-expense-total{
    font-size: 32px
}

.main-extra-income-total{
    font-size: 32px
}

.main-extra-expenses{
    width: 50%;
    padding-left: 24px;
}

.main-totals-header{
    font-size: 52px;
    height: 20%;
}

.main-totals-subheader{
    height: 10%;
}

.main-totals-info-wrapper{
    display: flex;
    align-items: center;
    height: 70%;
}

.main-totals-usertotal{
    width: 40%;
    font-size: 54px;
    height: 100%;
    border-right: 1px solid rgb(255, 255, 255, 0.4);
}

.main-totals-info{
    font-size: 16px;
    height: 80%;
}

.main-totals-right-info{
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    height: 100%;
    width: 60%;
}

/* Main Left */

.main-left-list-element{
    padding: 8px 24px;
}

.main-left-header{
    margin-bottom: 18px;
    padding: 24px 24px 0 24px;
}

.main-left-incomes-btn{
    margin-bottom: 12px;
    color: var(--light-font-color);
    background-color: rgb(43, 43, 43);
    border: 0 solid rgb(43, 43, 43);
    padding: 8px;
    box-shadow: none;
    margin: 0 24px 12px 24px;
}

.main-left-lists{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 24px;
}

.main-left-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-left-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0;
}

.main-left-list-delete{
    margin-right: 12px;
    transition: all ease-in-out 0.1s;
}

.income-form{
    position: absolute;
    top: 30%;
    right: 40%;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 32px;
    opacity: 0;
    transition: all 0.1s ease;
}

/* Main Right */

.main-right-list-element{
    padding: 8px 24px;
}

.main-right-header{
    margin-bottom: 18px;
    padding: 24px 24px 0 24px;
}

.main-right-expenses-btn{
    margin-bottom: 12px;
    color: var(--light-font-color);
    background-color: rgb(43, 43, 43);
    border: 0 solid rgb(43, 43, 43);
    padding: 8px;
    box-shadow: none;
    margin: 0 24px 12px 24px;
}

.main-right-lists{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 24px;
}

.main-right-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-right-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0;
}

.main-right-list-delete{
    margin-left: 12px;
    transition: all ease-in-out 0.1s;
}

.expense-form{
    position: absolute;
    top: 30%;
    right: 40%;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 32px;
    opacity: 0;
    transition: all 0.1s ease;
}

.bin-icon{
    font-size: 22px;
    padding: 0;
    font-weight: 600;
    color: #540000;
    transition: all 0.05s ease-in-out;
}

.bin-icon:hover{
    cursor: pointer;
    color: red;
}

/* Home */

.home-container{
    max-width: 100%;
    padding: 0;
}

.upper-home-header{
    font-size: 52px;
    font-weight: 400;
    padding: 0 128px;
    color: var(--light-font-color);
}

.upper-home-info{
    padding: 24px;
    font-size: 30px;
    color: rgb(13, 13, 13);
    font-weight: 500;
    text-align: center;
}

.upper-main{
    background: radial-gradient(at 18% 99%, rgb(66, 119, 129) 0px, transparent 50%) repeat scroll 0% 0%, 
                radial-gradient(at 4% 49%, rgb(62, 62, 62) 0px, transparent 50%) repeat scroll 0% 0%,
                rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, #427781 0px, rgb(62, 62, 62) 50%) repeat scroll 0% 0%;
    height: 70%;
    padding: 72px 128px;
}

.upper-home-nums{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 128px;
}

.upper-home-figures{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-home-total{
    font-size: 80px;
    margin: 0 128px;
    color: green;
    font-weight: 400;
}

.upper-home-green{
    padding: 24px;
    color: green;
    font-size: 44px;
    font-weight: 400;
}

.upper-home-red{
    padding: 24px;
    color: red;
    font-size: 44px;
    font-weight: 400;
}

.lower-main{
    height: 80%;
    width: 100%;
    padding: 8% 20%;
    
}

.lower-home-header{
    color: var(--light-font-color);
    font-size: 44px;
    font-weight: 400;
}

.lower-home-list{
    margin: 24px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lower-home-info{
    font-size: 26px;
    color: rgb(13, 13, 13);
    font-weight: 500;
    margin: 24px 0;
    height: 100%;
}


.home-icons{
    font-size: 36px;
    font-weight: 600;
    padding: 16px 24px;
    color: var(--main-color);
}

.main-hr{
    box-shadow: 0 25px 40px 20px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/*footer*/

.home-footer{
    height: 22vh;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link{
    font-size: 24px;
    font-weight: 500;
    color: rgb(120, 120, 120);
    transition: all 0.05s ease-in-out;

}

.footer-title{
    color: var(--light-font-color);
    font-size: 32px;
    font-weight: 600;
}

.footer-link:hover{
    color: var(--light-font-color);
    cursor: pointer;
    text-decoration: none;
}
